<!DOCTYPE html>

<html>

<head>

<title> Crud </title>
<link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
</head>

<body>

<div class="contenedor"> 

    <h2 style="color:lightgreen;">
        usuario
    </h2>
    <form method="POST">
        <input type="text" placeholder="Ingrese su nombre" name="nombre" required>
        <input type="email" placeholder="Ingrese su email" name="correo" required>

        <button>registrar</button>
    </form>

    <table>
        <tr><th>id</th><th>nombre usuario</th><th>correo usuario</th><th>acciones</th></tr>
        {% for persona in usuarios  %}
        <tr>
            <td>{{ persona.id }}</td>
            <td>{{ persona.nombre }}</td>
            <td>{{ persona.correo }}</td>
            <td>
                <a href="/update/{{persona.id}}">editar</a>
                |
                <a href="/?eliminar={{ persona.id }}">eliminar</a>

            </td>
            
        </tr>    


        {% endfor %}
    </table>



</div>





</body>

</html>